<a href="https://colab.research.google.com/github/Rik01442/Python-Programming/blob/main/Nested_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# nested loops
for i in range(1,7):
  print("student", i)
  for j in range(5,0,-1):
    print("subject =>>", j)

student 1
subject =>> 5
subject =>> 4
subject =>> 3
subject =>> 2
subject =>> 1
student 2
subject =>> 5
subject =>> 4
subject =>> 3
subject =>> 2
subject =>> 1
student 3
subject =>> 5
subject =>> 4
subject =>> 3
subject =>> 2
subject =>> 1
student 4
subject =>> 5
subject =>> 4
subject =>> 3
subject =>> 2
subject =>> 1
student 5
subject =>> 5
subject =>> 4
subject =>> 3
subject =>> 2
subject =>> 1
student 6
subject =>> 5
subject =>> 4
subject =>> 3
subject =>> 2
subject =>> 1

In [ ]:
for i in range(1,7):
  print("student", i)
  for j in range(1,i+1):
    print("subject =>>", j)

student 1
subject =>> 1
student 2
subject =>> 1
subject =>> 2
student 3
subject =>> 1
subject =>> 2
subject =>> 3
student 4
subject =>> 1
subject =>> 2
subject =>> 3
subject =>> 4
student 5
subject =>> 1
subject =>> 2
subject =>> 3
subject =>> 4
subject =>> 5
student 6
subject =>> 1
subject =>> 2
subject =>> 3
subject =>> 4
subject =>> 5
subject =>> 6

In [ ]:
for i in range(1,7):
  print("student", i)
  for j in range(0,7-i):
    print("subject =>>", j)

student 1
subject =>> 1
subject =>> 2
subject =>> 3
subject =>> 4
subject =>> 5
subject =>> 6
student 2
subject =>> 2
subject =>> 3
subject =>> 4
subject =>> 5
subject =>> 6
student 3
subject =>> 3
subject =>> 4
subject =>> 5
subject =>> 6
student 4
subject =>> 4
subject =>> 5
subject =>> 6
student 5
subject =>> 5
subject =>> 6
student 6
subject =>> 6

In [ ]:
for i in range(1,7):
  print("student", i)
  for j in range(i,7):
    print("subject =>>", j)

student 1
subject =>> 1
subject =>> 2
subject =>> 3
subject =>> 4
subject =>> 5
subject =>> 6
student 2
subject =>> 2
subject =>> 3
subject =>> 4
subject =>> 5
subject =>> 6
student 3
subject =>> 3
subject =>> 4
subject =>> 5
subject =>> 6
student 4
subject =>> 4
subject =>> 5
subject =>> 6
student 5
subject =>> 5
subject =>> 6
student 6
subject =>> 6

In [ ]:
for i in range(7,0,-1):
  print("student", i)
  for j in range(i,0,-i):
    print("subject =>>", j)

student 7
subject =>> 7
student 6
subject =>> 6
student 5
subject =>> 5
student 4
subject =>> 4
student 3
subject =>> 3
student 2
subject =>> 2
student 1
subject =>> 1

In [ ]:
# Patterns

for i in range(0,4):
  for j in range(0,4):
    print("*",end=" ")
  print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(0,4):
  for j in range(0,i+1):
    print("*",end=" ")
  print()

for i in range(5,0,-1):
  for j in range(i-1,5):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(1,4):
  for j in range(1,5):
    print(i,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3

In [ ]:
for i in range(4,1,-1):
  for j in range(1,5):
    print(i,end=" ")
  print()

4 4 4 4
3 3 3 3
2 2 2 2

In [ ]:
for i in range(4,7):
  for j in range(1,5):
    print(i,end=" ")
  print()

4 4 4 4
5 5 5 5
6 6 6 6

In [ ]:
num=4
for i in range(1,3):
  for j in range(4,8):
    print(num, end=" ")
    num+=1
  print()

4 5 6 7
8 9 10 11

In [ ]:
for i in range(1,4):
  for j in range(1,5):
    print(j, end=" ")
  print()

1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(chr(65+i-1), end=" ")
  print()

A A A
B B B
C C C

In [ ]:
for i in range(1,3):
  for j in range(1,4):
    print(chr(68+i-1), end=" ")
  print()

D D D
E E E

In [ ]:
ch=65
for i in range(1,4):
  for j in range(1,4):
    print(chr(ch), end=" ")
    ch+=1
  print()

A B C
D E F
G H I