In [1]:
#Normalization ---> min_value=0 , max_value=1

In [ ]:
# Normalization is a key step in feature engineering, mainly used to scale numerical features into a common range. 
# This helps machine learning models perform better and converge faster.

In [33]:
import numpy as np
import pandas as pd

In [34]:
df=pd.read_csv('covid_toy.csv')

In [35]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [36]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [37]:
from sklearn.impute import SimpleImputer

In [38]:
si=SimpleImputer()

In [39]:
df['fever']=si.fit_transform(df[['fever']])

In [40]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [41]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [42]:
df['gender']=df['gender'].map({'Male':0,'Female':1})

In [43]:
df['cough']=df['cough'].map({'Mild':0,'Strong':1})

In [44]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [45]:
df['city']=df['city'].map({'Kolkata':0,'Bangalore':1,'Delhi':2,'Mumbai':3})

In [46]:
df['has_covid']=df['has_covid'].map({'Yes':0,'No':1})

In [47]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          1
1   27       0  100.0      0     2          0
2   42       0  101.0      0     2          1

In [48]:
x=df.drop(columns=['has_covid'])

In [49]:
y=df['has_covid']

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [52]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.59  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    1.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [53]:
from sklearn.preprocessing import MinMaxScaler

In [54]:
mn=MinMaxScaler()

In [55]:
x_train_mn= mn.fit_transform(x_train)

In [56]:
x_train_new= pd.DataFrame(x_train_mn, columns=x_train.columns)

In [57]:
np.round(x_train_new.describe() ,2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.59   0.50   0.40   0.42
std     0.31    0.50   0.32   0.49   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    1.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

In [59]:
df=pd.read_csv('placement.csv')

In [60]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [61]:
df.isnull().sum()

cgpa            0
resume_score    0
placed          0
dtype: int64

In [62]:
x=df.drop(columns=['placed'])
y=df['placed']

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [65]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [66]:
from sklearn.preprocessing import MinMaxScaler

In [67]:
mn=MinMaxScaler()

In [68]:
x_train_mn=mn.fit_transform(x_train)

In [69]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [70]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    0.42          0.50
std     0.28          0.25
min     0.00          0.00
25%     0.18          0.32
50%     0.33          0.54
75%     0.69          0.67
max     1.00          1.00