<a href="https://colab.research.google.com/github/Rik01442/Python-Programming/blob/main/Pattern_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,4):
  for j in range(1,5):
    print(i,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3

In [ ]:
for i in range(4,1,-1):
  for j in range(1,5):
    print(i,end=" ")
  print()

4 4 4 4
3 3 3 3
2 2 2 2

In [ ]:
for i in range(4,7):
  for j in range(1,5):
    print(i,end=" ")
  print()

4 4 4 4
5 5 5 5
6 6 6 6

In [ ]:
num=4
for i in range(1,3):
  for j in range(4,8):
    print(num, end=" ")
    num+=1
  print()

4 5 6 7
8 9 10 11

In [ ]:
for i in range(1,4):
  for j in range(1,5):
    print(j, end=" ")
  print()

1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(chr(65+i-1), end=" ")
  print()

A A A
B B B
C C C

In [ ]:
for i in range(1,3):
  for j in range(1,4):
    print(chr(68+i-1), end=" ")
  print()

D D D
E E E

In [ ]:
ch=65
for i in range(1,4):
  for j in range(1,4):
    print(chr(ch), end=" ")
    ch+=1
  print()

A B C
D E F
G H I

In [ ]:
for i in range(4,0,-1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
num=10
for i in range(1,4):
  for j in range(i):
    print(num,end=" ")
    num+=1
  print()

10
11 12
13 14 15

In [ ]:
for i in range(1,5):
  for j in range(10,10+i):
    print(j,end=" ")
  print()

for i in range(1,5):
  for j in range(1,i+1):
    print(j+9,end=" ")
  print()

10
10 11
10 11 12
10 11 12 13
10
10 11
10 11 12
10 11 12 13

In [ ]:
ch=65
for i in range(1,5):
  a=ch
  for j in range(1,i+1):
    print(chr(a),end=" ")
    a+=1
  print()

A
A B
A B C
A B C D

In [ ]:
ch=68
for i in range(1,5):
  a=ch
  for j in range(1,i+1):
    print(chr(a),end=" ")
    a-=1
  print()

D
D C
D C B
D C B A

In [ ]:
ch=68
for i in range(5,1,-1):
  a=ch
  for j in range(2,i+1):
    print(chr(a),end=" ")
    a-=1
  print()

D C B A
D C B
D C
D

In [2]:
for i in range(1,5):
  for j in range(1,i+i):
    print(j,end=" ")
  print()  #12121 # Q7

1
1 2 3
1 2 3 4 5
1 2 3 4 5 6 7

In [15]:
for i in range(1,5):
  for j in range(i,4):
    print("-",end=" ")
  for k in range(1,i+1):
    print("#",end=" ")
  print()

- - - #
- - # #
- # # #
# # # #

In [35]:
num = 6
for i in range(1,num):
  x = 4
  for j in range(i,num-1):
    print(" ",end=" ")
  for k in range(1,i+1):
    print(x,end=" ")
    x+=1
  print()

        4
      4 5
    4 5 6
  4 5 6 7
4 5 6 7 8

In [47]:
for i in range(1,5):
  for j in range(i,4):
    print(" ",end=" ")
  for k in range(1,i+1):
    print("*  ",end=" ")

  print()

      *
    *   *
  *   *   *
*   *   *   *

In [67]:
for i in range(5,1,-1):
  for j in range(5,i,-1):
    print(" ",end=" ")
  for k in range(2,i+1):
    print("*  ",end=" ")

  print()

*   *   *   *
  *   *   *
    *   *
      *

In [87]:
for i in range(5):
  for j in range(5):
    if (i==4 or j==0 or j==i):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
*     *
* * * * *

In [109]:
for i in range(1,6):
  for j in range(i,5):
    print(" ",end=" ")
  for k in range(2,2*i+1):
    print("*",end=" ")

  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *