In [1]:
# Standardization  ---> mean = 0 , standard deviation = 1

In [2]:
# Normal Distrubution ----> 
# central tendancy(mean,median,mode) ---> left and right side equal data points .

In [3]:
import numpy as np 
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\placement.csv")

In [5]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [6]:
df.isnull().sum()

cgpa            0
resume_score    0
placed          0
dtype: int64

In [7]:
df.shape

(100, 3)

In [8]:
x = df.drop(columns = ['placed'])
y = df['placed']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [11]:
print("df shape  =  " , df.shape)
print("x shape =" , x.shape)
print("x_train shape =" , x_train.shape)
print("x_test shape =" , x_test.shape)
print("y shape =" , y.shape)
print("y_train shape =" , y_train.shape)
print("y_test shape =" , y_test.shape)

df shape  =   (100, 3)
x shape = (100, 2)
x_train shape = (80, 2)
x_test shape = (20, 2)
y shape = (100,)
y_train shape = (80,)
y_test shape = (20,)

In [12]:
# df(100,3) = x(100,2) + y(100,1)
# x(100,2) = x_train(80,2) + x_test(20,2) 
# y(100,1) = y_train(80,1) + y_test(20,1)

In [13]:
np.round(x_train.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
sc = StandardScaler()

In [16]:
x_train_sc = sc.fit_transform(x_train)  ###fit means learn the parameters and transform means apply on x_train data.

In [17]:
type(x_train_sc)

numpy.ndarray

In [18]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [19]:
np.round(x_train_new.describe() , 2)

        cgpa  resume_score
count  80.00         80.00
mean   -0.00         -0.00
std     1.01          1.01
min    -1.50         -2.04
25%    -0.85         -0.72
50%    -0.29          0.15
75%     0.99          0.69
max     2.11          2.05

In [20]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [21]:
df['gender'] = df['gender'].map({"Male":0 , "Female":1})
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1})
df['city'] = df['city'].map({"Kolkata":0 , "Bangalore":1 , "Delhi":2 , "Mumbai":3})

In [22]:
df['has_covid'] = df['has_covid'].map({"No":0 , "Yes":1})

In [23]:
df.head(2)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          0
1   27       0  100.0      0     2          1

In [43]:
df.isnull().sum()

In [42]:
df = df.dropna()
# df.head(3)

In [28]:
x = df.drop(columns = ['has_covid'])  ##Input data
y = df['has_covid'] ##target data

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x_train , x_test , y_train ,y_test = train_test_split(x,
                                                     y,
                                                     test_size=0.2,
                                                     random_state = 42)

In [41]:
np.round(x_train.describe() , 2)

In [32]:
from sklearn.preprocessing import StandardScaler

In [33]:
sc = StandardScaler()

In [35]:
x_train_sc = sc.fit_transform(x_train)

In [36]:
type(x_train_sc)

numpy.ndarray

In [38]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [40]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough   city
count  72.00   72.00  72.00  72.00  72.00
mean   -0.00    0.00  -0.00   0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.53   -1.33  -1.30  -0.73  -1.15
25%    -0.95   -1.33  -0.83  -0.73  -1.15
50%     0.14    0.75   0.13  -0.73  -0.16
75%     0.86    0.75   0.72   1.37   0.82
max     1.57    0.75   1.55   1.37   1.81

In [44]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\tips.csv")
df.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

In [45]:
df = df.drop(columns = ['time' , 'day'])

In [46]:
df.head(3)

   total_bill   tip     sex smoker  size
0       16.99  1.01  Female     No     2
1       10.34  1.66    Male     No     3
2       21.01  3.50    Male     No     3

In [48]:
df['sex'] = df['sex'].map({"Female":0 , "Male":1})
df['smoker'] = df['smoker'].map({"No":0 , "Yes":1})

In [49]:
df.head(2)

   total_bill   tip  sex  smoker  size
0       16.99  1.01    0       0     2
1       10.34  1.66    1       0     3

In [50]:
x = df.drop(columns = ['total_bill'])
y = df['total_bill']

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size= 0.2 , random_state = 42)

In [53]:
np.round(x_train.describe() , 2)

          tip     sex  smoker    size
count  195.00  195.00  195.00  195.00
mean     3.09    0.65    0.38    2.57
std      1.43    0.48    0.49    0.94
min      1.00    0.00    0.00    1.00
25%      2.00    0.00    0.00    2.00
50%      3.00    1.00    0.00    2.00
75%      3.70    1.00    1.00    3.00
max     10.00    1.00    1.00    6.00

In [54]:
from sklearn.preprocessing import StandardScaler

In [55]:
sc = StandardScaler()

In [57]:
x_train_sc = sc.fit_transform(x_train)

In [58]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [59]:
np.round(x_train_new.describe() , 2)

          tip     sex  smoker    size
count  195.00  195.00  195.00  195.00
mean    -0.00   -0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00
min     -1.46   -1.37   -0.79   -1.68
25%     -0.76   -1.37   -0.79   -0.61
50%     -0.06    0.73   -0.79   -0.61
75%      0.43    0.73    1.26    0.45
max      4.85    0.73    1.26    3.65